@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 62.5%; /*changing default size frpm 16px to 10px */
}

body {
    background-color: #3498db;
    padding: 5rem 10rem;
}

.container {
    min-width: 20rem;
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: tomato; */
}

.container h1{
    font-size: 5rem;
}
.container .posts{
    margin-top: 50px;
    background-color: aliceblue;
    padding: 2rem 5rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 2rem -1.7rem rgba(0, 0, 0, 0.3);
}
.post-id {
    width: 5rem;
    height: 5rem;
    background-color: #2980b6;
    color: aliceblue;
    display: grid;
    place-items: center;
    font-size: 2rem;
}

.title{
    margin: 2rem 0 1rem 0;
    font-size: 2.5rem;
    text-transform: capitalize;
}

.post-info{
    font-size: 1.7rem;
}